<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!--DAO와 연결하기 위한  namespace  -->
  <mapper namespace="com.handm.s1.board.BoardDAO">
  <!--select 결과물이 column명과 dto setter 이름과 같아야함  -->
  	<select id="getBoardList" resultType="BoardDTO">
  		SELECT BOARDNUM,BOARDTITLE, BOARDWRITER, BOARDDATE, BOARDTOTAL
		FROM BOARD
		ORDER BY BOARDNUM DESC
  	</select>
  	
  	<select id="getBoardDetail" parameterType="BoardDTO" resultType="BoardDTO">
  		SELECT BOARDNUM, BOARDTITLE, BOARDWRITER,BOARDDATE, BOARDTOTAL, BOARDCONTENTS
		FROM BOARD
		WHERE BOARDNUM=#{boardNum}
  	</select>
  	
  	<update id="setBoardUpdate" parameterType="BoardDTO">
  		UPDATE BOARD SET
		BOARDTITLE = #{boardTitle},BOARDWRITER=#{boardWriter},BOARDTOTAL=#{boardTotal}, BOARDCONTENTS=#{boardContents}
		WHERE BOARDNUM=#{boardNum};
  	</update>
  </mapper>